.bg_book{
    width: 100%;
    height: 700px;
    background-image: url('../img/slider_1-1917x607-1914x606.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    margin-bottom: 100px;

    .left_book{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3{
            color: rgba(242, 185, 30, 1);
            font-size: 40px;
        }
        p{
            color: $white;
            font-size: 20px;
            font-style: italic;
            line-height: 40px;
        }
        img{
            margin-top: 20px;
        }
    }

    .right_book{
        width: 50%;
        position: relative;

        img{
            height: 600px;
            position: absolute;
            bottom: 0;
        }
        .menu{
            width: 70px;
            background-color: white;
            position: absolute;
            right: 0;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            i{
                display: block;
                text-align: center;
                font-size: 30px;
                margin: 20px;
                color: rgba(88, 88, 88, 1);
            }
        }
    }
}