.courses{
    text-align: center;
    background-color: rgba(237, 242, 245, 1);
    padding-bottom: 80px;

    h2{
        font-size: 40px;
        padding: 75px 0px 25px 0;
    }

    .cards{
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card{
            width: 350px;
            background-color: $white;
            margin: 20px;

            &:hover img{
                filter: brightness(0.6);
            }
            &:hover .hover_price span{
                display: block;
            }
            .hover_price{
                width: 350px;
                height: 230px;
                position: relative;
                margin-bottom: 20px;
                
                span{
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 23px;
                    font-weight: 600;
                    display: none;
                }
                strong{
                    color: $white;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    margin: 5px;
                    padding: 4px;
                    font-size: 8px;
                    font-weight: 400;
                    background-color: rgba(242, 185, 59, 1);
                    border-radius: 3px;
                }
            }

            img{
                width: 350px;
                height: 230px;
                margin-bottom: 20px;
            }
            
            p{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            span{
                color: rgba(195, 193, 198, 1);
                font-size: 12px;
            }
            hr{
                width: 90%;
                margin: 20px auto 10px auto;
                border: 1px solid rgba(242, 242, 242, 1);
            }

            .info_card{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-bottom: 15px;

                i{
                    color: rgba(242, 185, 59, 1);
                    font-size: 12px;
                    margin-right: 5px;
                }
                span{
                    color: $text_primaty;
                }
            }
        }
    }
    button{
        margin-top: 30px;
        padding: 14px 22px;
        border-radius: 30px;
        font-weight: 600;
        color: white;
        background-color: rgba(242, 185, 30, 1);
        border: none;
        font-family: 'Roboto Slab', serif;

        &:hover{
            cursor: pointer;
        }
    }
}