.bg_data{
    height: 550px;
    background-image: url('../img/counter-1919x1101.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    .data{
        display: flex;
        align-items: center;
        margin: 30px;

        i{  
            padding-top: 10px;
            font-size: 50px;
            margin-right: 20px;
            color: $white;
        }
        span{
            color: rgba(242, 187, 36, 1);;
            font-size: 40px;
            font-weight: 600;
        }
        h5{
            color: $white;
            font-size: 17px;
            font-weight: 400;
        }
    }
}