#site_footer{
    padding-top: 50px;
    background-color: $senape;

    .content_footer{
        display: flex;
        justify-content: center;

        .section_content{
            margin: 20px;

            h3{
                font-size: 23px;
                margin-bottom: 25px;
            }
            .footer_paragraph{
                margin-bottom: 10px;

                p{
                    font-size: 15px;
                    width: 270px;
                    line-height: 25px;
                }
            }
            i{
                font-size: 23px;
                margin: 15px 10px 0px 0px;
                cursor: pointer;

                &:hover{
                    transform: scale(1.1);
                }
            }
            .footer_list{
                display: flex;
                justify-content: space-between;

                ul{
                    margin: 0px 10px 0 20px;
                    
                    li{
                        width: 130px;
                        margin-bottom: 20px;

                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .blog{
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img{
                height: 100px;
                margin-right: 10px;
                cursor: pointer;
            }
            p{
                width: 250px;
                font-weight: 600;

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            span{
                color: rgba(133, 109, 42, 1);
            }
        }
    }
}