#site_header{
    width: 100%;
    color: $text_primaty;

    nav{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 30px 0;

        img{
            height: 45px;
            cursor: pointer;
        }
        .right_header{
            display: flex;
            align-items: center;

            ul{
                list-style: none;
                position: relative;
    
                li{
                    display: inline-block;
                    margin: 15px;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    border-bottom: 1px solid $white;
                    &:hover{
                        cursor: pointer;
                        border-bottom: 1px solid $senape;
                    }
                }
                i{
                    font-size: 10px;
                    position: absolute;
                    bottom: 10px;
                    left: 50px;
                    color: $senape;
                    display: none;
                }
            }
            .bedge_header{
                border-radius: 5px;
                background-color: $rose;
                color: $white;
                font-size: 8px;
                padding: 1px 3px;
                border-radius: 3px;
                border-bottom-left-radius: 0px;
                position: absolute;
                top: -10px;
                right: -10px;
            }
            .icons{
                font-size: 20px;
                margin-left: 50px;
                padding-bottom: 5px;

                i{
                    cursor: pointer;
                    margin: 5px;
                }
            }   
        }  
    }
}