#site_header{
    width: 100%;
    color: $text_primaty;

    nav{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 30px 0;

        img{
            height: 45px;
            cursor: pointer;
        }
        .right_header{
            display: flex;
            align-items: center;

            ul{
                list-style: none;
                position: relative;
    
                li{
                    display: inline-block;
                    margin: 15px;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                    position: relative;

                    i{
                        font-size: 11px;
                        position: absolute;
                        bottom: -3px;
                        left: 46%;
                        color: $senape;
                        text-align: center;
                        display: none;
                    }
                    &:hover i{
                        display: block;
                    }
                    &:hover:after {
                        content: "";
                        position: absolute;
                        left: 25%;
                        right: 25%;
                        bottom: 0;
                        border: 2px solid $senape;
                        background-color: $senape;
                    }
                }
            }
            .bedge_header{
                border-radius: 5px;
                background-color: $rose;
                color: $white;
                font-size: 8px;
                padding: 1px 3px;
                border-radius: 3px;
                border-bottom-left-radius: 0px;
                position: absolute;
                top: -10px;
                right: -10px;
            }
            .icons{
                font-size: 20px;
                margin-left: 50px;
                padding-bottom: 5px;

                i{
                    cursor: pointer;
                    margin: 5px;
                }
            }   
        }  
    }
}