.jumbotron{
    width: 100%;
    position: relative;
    background-color: red;

    .bg_img{
        background-image: url('/dist/img/slide-1.jpg');
        background-size: cover;
        height: 900px;
        background-repeat: no-repeat;
    }

    .slogan{
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);

        h1{
            font-size: 60px;

            strong{
                color: $senape;
            }
        }
    }

}