.jumbotron{
    width: 100%;
    position: relative;
    margin-bottom: 200px;

    .bg_img{
        background-image: url('/dist/img/slide-1.jpg');
        background-size: cover;
        height: 900px;
        background-repeat: no-repeat;
    }

    /* Slogan */
    .slogan{
        position: absolute;
        top: 50%;
        left: 61%;
        transform: translate(-50%, -50%);

        h1{
            font-size: 70px;
            line-height: 70px;

            strong{
                color: $senape;
            }
        }

        .paragraph_jumbo{
            margin-top: 30px;

            p{
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    /* Slogan */

    /* Count Down */
    .count_down{
        width: 1500px;
        position: absolute;
        align-items: center;
        display: flex;
        bottom: -200px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $senape;
        border-radius: 15px;
        padding: 30px 50px 50px 50px;
        
        .left_cd{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                display: block;
                font-size: 35px;  
                font-weight: 500;
                margin-bottom: 20px;

                strong{
                    color: $white;
                }
            }

            .subscribe{
                display: flex;
                position: relative;
                width: 600px;
                margin-top: 30px;

                input{
                    padding: 20px;
                    width: 600px;
                    border-radius: 30px;
                    border: none;
                    outline: none;                }
                h5{
                    border-radius: 30px;
                    padding: 19px;
                    position: absolute;
                    left: 85%;
                    background-color: rgba(45, 70, 73, 1);
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 400;   
                }
            }
            
        }

        .right_cd{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .timer{
                display: flex;

                .time{
                    text-align: center;

                    span{
                        font-size: 80px;
                        padding: 0px 30px 20px 30px;
                        color: $white;
                    }
                    h5{
                        font-size: 25px;
                    }
                }
            }   
        }  
    }
    /* /Count Down */

}





/* 
@media screen and (max-width:1399px){
    .bg_img{
        height: 700px;
    }

    .slogan{
        top: 50%;
        left: 61%;
        transform: translate(-50%, -50%);
    }

    h1{
        font-size: 60px;
        line-height: 60px;
    }

    p{
        font-size: 16px;
        line-height: 30px;
    }

}

@media screen and (min-width:1400px) {

    .bg_img{
        height: 900px;
    }

    .slogan{
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }

    h1{
        font-size: 70px;
        line-height: 60px;
    }

    p{
        font-size: 18px;
        line-height: 30px;
    }

} */