.sign{
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 200px;

    .flex{
        width: 50%;

        .left_sign{
    
            h3{
                font-size: 30px;
                line-height: 40px;
            }
            img{
                margin-top: 30px;
                padding-left: 100px;
            }
    }
    
    }
    .right_sign{
        width: 50%;
        line-height: 30px;
    }
}