.sign{
    display: flex;
    padding-bottom: 100px;

    .flex{
        width: 50%;

        .left_sign{
    
            h3{
                font-size: 30px;
                line-height: 40px;
            }
            img{
                margin-top: 30px;
                padding-left: 100px;
            }
        }
    
    }
    .right_sign{
        width: 50%;

        p{
            line-height: 30px;
            width: 650px;
        }
    }
}