.students{
    padding-bottom: 100px;
    text-align: center;

    h2{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .slider{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i{
            font-size: 27px;
            margin: 20px;
            color: rgb(71, 71, 71);
            cursor: pointer;

            &:hover{
                transform: scale(1.1);
                color: $senape;
            }
        }
        .img_slider{
            display: flex;
            align-items: center;
            
            img{
                height: 70px;
                border-radius: 50%; 
                margin: 15px;
            }
        } 
    }
    h3{
        font-size: 20px;
        font-weight: 700;
        margin: 5px;
    }
    .stars{
        margin-bottom: 25px;

        i{
            color: $senape;
        }
    }
    p{
        width: 770px;
        margin: auto;
        font-size: 18px;
        line-height: 35px;  
        color: rgb(80, 80, 80);
    }
}   