.students{
    padding-bottom: 100px;
    text-align: center;

    h2{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .slider{
        width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i{
            font-size: 30px;
            margin: 20px;
            color: rgb(58, 58, 58);
            cursor: pointer;
        }
        .img_slider{
            display: flex;
            align-items: center;
            
            img{
                height: 80px;
                border-radius: 50%; 
                margin: 15px;
            }
        } 
    }
    h3{
        font-size: 20px;
        margin: 5px;
    }
    .stars{
        margin-bottom: 25px;

        i{
            color: rgba(242, 185, 30, 1);
        }
    }
    p{
        font-size: 18px;
        line-height: 30px;  
        color: rgba(65, 65, 65, 1);
    }
}   