$text_primaty: rgba(51, 51, 63, 1);
$senape: rgba(243, 192, 53, 1);
$rose: rgba(220, 18, 69, 1);
$white: rgb(255, 255, 255);
/* 

$prova: rgba(55, 56, 51, 1) li header;
$bedge: rgba(220, 18, 69, 1) bedge header;


$title: rgba(34, 34, 34, 1) titolo jumbo;
$senape: rgba(242, 185, 30, 1) titolo jumbo;


$senape: rgba(242, 185, 30, 1) back countdown;


$title: rgba(34, 34, 34, 1) sign title;
$title: rgba(34, 34, 34, 1) courses title;


$prova: rgba(45, 70, 73, 1) schede courses;
$prova: rgba(199, 196, 196, 1) subtitle courses;
$senape: rgba(242, 188, 72, 1) icon courses;
$senape: rgba(242, 185, 30, 1) button courses;


$senape: rgba(242, 185, 30, 1) title book;
$prova: rgba(251, 251, 251, 1) suvtitle bok;
$prova: rgba(69, 69, 68, 1) icon book;


$title: rgba(34, 34, 34, 1) titile why;
$title: rgba(34, 34, 34, 1) title schede why;
$senape: rgba(242, 187, 36, 1) icon scehde why;
$prova: rgba(162, 161, 183, 1) paragraph why;
$senape: rgba(242, 185, 30, 1) bordo schede why;


$senape: rgba(234, 184, 48, 1) number data;
$prova: rgba(249, 249, 249, 1) icon e text data;


$title: rgba(34, 34, 34, 1) title students;
$title: rgba(34, 34, 34, 1) arrow students;
$title: rgba(34, 34, 34, 1) subtitle;
$prova: rgba(242, 185, 30, 1) stars;
$prova: rgba(62, 62, 62, 1) paragraph students;


$prova: rgba(242, 185, 30, 1) back footer;
$prova: rgba(58, 53, 51, 1) title footer; */