.why{
    padding-bottom: 100px;

    h2{
        font-size: 40px;
        text-align: center;
        margin-bottom: 50px;
    }
    .why_cards{
        display: flex;
        justify-content: center;

        .why_card{
            display: flex;
            margin: 15px;
            border-left: 4px solid $senape;
            padding: 50px 30px;
            box-shadow: 1px 3px 10px 5px rgba(237, 237, 237, 1);

            &:hover{
                cursor: pointer;
                border: none;
                background-color: $senape;
            }
            &:hover i{
                color: $white;
            }
            i{
                font-size: 60px;
                padding: 10px 40px 0px 10px;
                color: $senape;
            }
            h4{
                font-size: 25px;
                margin-bottom: 20px;
            }
            p{
                width: 430px;
                color: rgb(161, 161, 161);
                line-height: 30px;
            }
        }
    }
}